<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board.html</title>
<link rel="stylesheet" href="./board.css">
    <link
    rel="stylesheet"
    href="./asserts/bootstrap-5.0.2/dist/css/bootstrap.min.css"
  />
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="outer col-md-12 col-lg-6 card">
        <ul class="nav nav-tabs   nav-fill" style="gap: 10px;"  role="tablist" id="myTab">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="inner-content" data-bs-toggle="tab" data-bs-target="#inner-content-pane" type="button" role="tab" aria-controls="inner-content-pane" aria-selected="true">COMMODITY</button>
          </li>
  
           <li class="nav-item" role="presentation">
      <button class="nav-link " id="inner-content" data-bs-toggle="tab" data-bs-target="#inner-content-pane" type="button" role="tab" aria-controls="inner-content-pane" aria-selected="false">CONSIGNER</button>
    </li>
    <li class="nav-item " role="presentation">
      <button class="nav-link " id="inner-content" data-bs-toggle="tab" data-bs-target="#inner-content-pane" type="button" role="tab" aria-controls="inner-content-pane" aria-selected="false">CONSIGNEE</button>
    </li>
    <li class="nav-item " role="presentation">
        <button class="nav-link " id="inner-content" data-bs-toggle="tab" data-bs-target="#inner-content-pane" type="button" role="tab" aria-controls="inner-content-pane" aria-selected="false">ZONES</button>
      </li>
        </ul>

        <div class="btn-group" style="width: fit-content; margin:0 auto; "  role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Reset</button>
            <button type="button" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-success">Submit</button>
          </div>
         </div>

          <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
</body>
</html>