body {
    margin: 0;
    padding: 0;
    
    background-image: url('./asserts/box\ train\ side-modified\ \(2\).jpg') ;
    background-size:cover; /* Optional: ensures the image covers the entire body */
    background-repeat: no-repeat; 
    
   
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(3px); */
    
 
  }
#btndiv{
display: flex;
gap:200px;
justify-content: center;
}
button{
    background: #90EE90;
    border-radius: 20px;
}
.btn-primary{
    background-color:#90EE90;
}
.col{
    width:25%;
}

.outer{
    margin:0 auto;
    margin-top:5%;
    padding:0px;
    border-radius: 50%;
}
.inp{
 
}
.unit{
    padding-top: 5px;
}
#declaration{
    display: flex;
    padding-left: 7%;

}
#declare{
    padding-top: 1%;
    padding-left: 2%;
}
.table-show{
    display:flex  ;
    /* justify-content: flex-end; */
}
.table-hide{
    display: none !important;
}
.showtable{
    
}